<mat-sidenav-container class="shell">
  <mat-sidenav mode="side" opened class="shell__sidenav">
    <div class="shell__brand">
      <p class="shell__eyebrow">HOLO NET</p>
      <h1>Fleet Command</h1>
      <p class="shell__subtitle">{{ 'app.subtitle' | translate }}</p>
    </div>

    <nav class="shell__nav">
      @for (item of navItems; track item.route) {
        <a
          class="shell__nav-link"
          [routerLink]="item.route"
          routerLinkActive="shell__nav-link--active"
        >
          <span class="material-symbols-outlined">{{ item.icon }}</span>
          <span>{{ item.labelKey | translate }}</span>
        </a>
      }
    </nav>
  </mat-sidenav>

  <mat-sidenav-content class="shell__content-area">
    <mat-toolbar class="shell__toolbar">
      <div class="shell__toolbar-title">
        {{ 'app.title' | translate }}
      </div>
    </mat-toolbar>

    <main class="shell__content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
